.logo{
    margin-right: auto;
}
nav{
a{
    text-decoration: none;
    &:hover {
        text-decoration:underline;}
}
}
.last{
    .imgdiv{
        width: 25px;
        height: 25px;
        margin-bottom: 4px;
    }
}
